.main{
    background-color: aqua;
}

h3{
    color: green;
}

#center{
    text-align: center;
}

#center > strong {
    background-color: yellow;
}

.indent{
    text-indent: 50%;
}

.indent > p> strong{
    color: red;
}

.indent > p > em{
    color: green;
}